<h1>Capstone Project </h1>

### This notebook will be used for the Coursera Applied Data Science Course Capstone Project.

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

#### Saving the data from the wikipedia page in a dataframe

In [3]:
# Saving the table in the wikipedia page as a dataframe
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df_website = pd.read_html(url)
df = df_website[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### Removing rows where Borough is not assigned

In [4]:
df=df.replace('Not assigned',np.NaN)
df = df.dropna(subset=["Borough"], axis=0)
df.reset_index(drop=True, inplace=True)
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
df.loc[df["Neighbourhood"] == np.NaN] # To verify if a cell has a borough but a Not assigned  neighborhood

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [7]:
df_coordinates = pd.read_csv("http://cocl.us/Geospatial_data")
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [19]:
df_coordinates.shape

(103, 3)

In [22]:
df=df.sort_values(by=['Postal Code'])
df_coordinates = df_coordinates.sort_values(by=['Postal Code'])

In [24]:
df["Latitude"] = df_coordinates["Latitude"]
df["Longitude"] = df_coordinates["Longitude"]
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
6,M1B,Scarborough,"Malvern, Rouge",43.727929,-79.262029
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.794200,-79.262029
18,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.778517,-79.346556
22,M1G,Scarborough,Woburn,43.770120,-79.408493
26,M1H,Scarborough,Cedarbrae,43.745906,-79.352188